<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.proyectogrupo">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <supports-screens
        android:anyDensity="false"
        android:largeScreens="false"
        android:normalScreens="true"
        android:resizeable="false"
        android:smallScreens="true"
        android:xlargeScreens="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DificultadActivity"
            android:parentActivityName=".SeleccionNivelActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SeleccionNivelActivity" />
        </activity>
        <activity
            android:name=".SeleccionNivelActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".NivelActivity"
            android:parentActivityName=".DificultadActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DificultadActivity" />
        </activity>
        <activity
            android:name=".VictoriaActivity"
            android:parentActivityName=".NivelActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NivelActivity" />
        </activity>
        <activity
            android:name=".DerrotaActivity"
            android:parentActivityName=".NivelActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NivelActivity" />
        </activity>
        <activity android:name=".PuntosActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".NivelActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NivelActivity" />
        </activity>
    </application>

</manifest>